<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713351458880-4ivgdfrd4q1rhf1isif9m8j8uq9jlfjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713351458880-4ivgdfrd4q1rhf1isif9m8j8uq9jlfjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAsNfls89qoJw12Ih6H8U3PTp3cC7xZcEw</string>
	<key>GCM_SENDER_ID</key>
	<string>713351458880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kkkhuitest.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodo-4d0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodo-4d0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713351458880:ios:5ee0b8ede3b8cfea7defa5</string>
</dict>
</plist>